.row{
    background-color: aqua;
    color: black;
    width: 300px;
    height: 150px;
}
.row1{
    background-color: #8a2be2;
    color: antiquewhite;
    width: 300px;
    height: 150px;
}
.row2{
    background-color: brown;
    color: aliceblue;
    width: 300px;
    height: 150px;
    display: flex;
}
.row3{
    display: flex;
    background-color: chartreuse;
    color: white;
    width: 300px;
    height: 150px;
}
.rowc1{
    background-color: coral;
    color: black;
    width: 300px;
    height: 150px;
}
.rowc2{
    background-color: crimson;
    color: black;
    width: 300px;
    height: 150px;
}
.row4{
    display: flex;
    background-color: darkgoldenrod;
    color: black;
    width: 300px;
    height: 150px;
}
.rowc3{
    background-color: burlywood;
    color: black;
    width: 300px;
    height: 150px;
}
.rowc4{
    background-color: cadetblue;
    color: black;
    width: 300px;
    height: 150px;
}
.row5{
    display: flex;
    background-color: chocolate;
    color: black;
    width: 300px;
    height: 150px;
}
.row6{
    background-color: aquamarine;
    color: black;
    width: 300px;
    height: 150px;
}
.row7{
    background-color: darkblue;
    color: black;
    width: 300px;
    height: 150px;
}
.row8{
    background-color: darkgreen;
    color: black;
    width: 300px;
    height: 150px;
}
.row9{
    background-color: darkcyan;
    color: black;
    width: 300px;
    height: 150px;
}
.row10{
    background-color: burlywood;
    color: black;
    width: 300px;
    height: 150px;
}
.row11{
    background-color: darkmagenta;
    color: black;
    width: 300px;
    height: 150px;
}
.row12{
    background-color: hotpink;
    color: black;
    width: 300px;
    height: 150px;
}
.row13{
    background-color: firebrick;
    color: bisque;
    width: 300px;
    height: 150px;
}
.row14{
    background-color: lightgreen;
    color: black;

    width: 300px;
    height: 150px;
}
.row15{
   background-color: hotpink;
    color: black;
    width: 300px;
    height: 150px;
}   
.row16{
background-color:lightgreen;
    color: black;
    width: 300px;
    height: 150px;
}
.row17{
    display: flex;
    background-color: darksalmon;
    width: 300px;
    height: 150px;
}
.row18{
    display: flex;
    background-color: mediumvioletred;
    color: black;
    width: 300px;
    height: 150px;
}
.row19{
    background-color: darkorchid;
    color:white ;
    width: 300px;
    height: 150px;

}
.row20{
    background-color: greenyellow;
    color: black;
        width: 300px;
    height: 150px;


}
.row21{
    background-color: darkolivegreen;
    color: bisque;
    width: 300px;
    height: 150px;
}
.row22{
    background-color: lightsalmon;
    color: black;
    width: 300px;
    height: 150px;
}
.row23{
    background-color: darkslateblue;
    color: burlywood;
    width: 300px;
    height: 150px;
}
.row24{
    background-color: aqua;
    color: darkmagenta;
    width: 300px;
    height: 150px;
}
.row25{
    background-color: maroon;
    color: antiquewhite;
    width: 300px;
    height: 150px;
}
.row26{
    background-color: deeppink;
    color: violet;
    width: 300px;
    height: 150px;
}
.row27{
    background-color: orangered;
    color: blanchedalmond;
    width: 300px;
    height: 150px;
}









